@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #201b2c;
}

.bem-vindo{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bem-vindo > h1{
    font-size: 3vw;
    color: #00ff88
}

.animacao {
    width: 35vw;
}

.login{
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2f2841;
    border-radius: 20px;
    padding: 30px 35px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.316);
}

.card > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.campo-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.campo-texto input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.316);
    outline: none;
}

.campo-texto input::placeholder {
    color: #f0ffff94;
}

.campo-texto label {
    color: #f0ffffde;
    padding-bottom: 10px;;
}

.campo-texto button {
    margin: 10px;
}

.BtnLogin {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.316);
}

@media only screen and (max-width: 950px){
    .card{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main{
        flex-direction: column;
    }
    .bem-vindo > h1 {
        display: none;
    }
    .animacao {
        width: 100%;
    }
    .login{
        width: 95%;
    }
}
